.grid{
    width: 802px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  
}

.grid div {
    width: 53px;
    height: 53px;

}

.invader{
    background-image: url(../img/invader.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.shooter{
    background-image: url(../img/spaceship.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.laser {
    background-image: url(../img/pixel_laser_yellow.svg);
}

.boom{
    background-color: red;
}
body{
    color: white;
    background-image: url(../img/background-black.png);
}